img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .b1{
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
  h2{
    text-align: center;
  }
  p{
    text-align: center;
  }

  .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }
    .img-fluid{
        border-top-left-radius: .25rem; 
        border-bottom-left-radius: .25rem;
        width:100;
        position: center;
        height: 10em;
    }